<!-- /views/game.erb -->

<!DOCTYPE html>
<html>
  <head>
    <title>Rock, Paper, Scissors</title>
  </head>
    
  <body>
    <h2>
      We played <%=@our_move_text%>!
    </h2>

    <h2>
      They played <%=@their_move_text%>!
    </h2>

    <h2>
      <% if @outcome == 0%>
        We won!
      <% elsif @outcome == 1%>
        We lost!
      <% else %>
        We tied!
      <% end %>
    </h2>

    <div>
      <div><a href="/">Rules</a></div>
    <div>
  </body>
</html>
